{% extends 'base.html' %}

{% block title %}
educa || My-courses
{% endblock %}

{% block main_content %}
<div class="container">
    <h1 class="my-3 text-muted fw-bold">My Courses</h1>
    {% for course in object_list %}
    <div class="card my-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title mb-4">{{course.title}}</h5>
          <a href="{% url 'course_edit' course.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'course_delete' course.id %}" class="btn btn-danger">Delete</a>
          <a href="{% url 'course_module_update' course.id %}" class="btn btn-primary">Edit modules</a>
        </div>
      </div>
    {% empty %}
    <p class="p-5 shadow-sm fs-2 fw-bold text-danger d-inline-block bordered">You haven't created any courses yet.</p>
    {% endfor %}
    <div>
        <a href="{% url 'course_create' %}" class="btn btn-success">Create New Courses</a>
    </div>
</div>

{% endblock %}